@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-primary: #0070f3;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Tauri app typically handles its own scrolling */
  background-color: var(--heroui-background);
  color: var(--heroui-foreground);
}
